.table-con {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.table-header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

@media (min-width: 320px) {
  .table-con {
    width: 90%;
  }
}
