main {
  height: 100%;
  margin-right: 25px;
  transition: all .2s;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
}

 
::-webkit-scrollbar-thumb {
  background: #000; 
  border-radius: 5px;
}

@media (min-width: 961px) {
  .main-r{
    width: 100px;
  }
}

@media (min-width: 1025px) {
  .main-r{
    width: 1250px;
  }
}
