.charts-con {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.chart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d0e1e9;
  border-radius: 20px;
  padding: 20px;
}

@media (min-width: 320px) {
  .chart {
    height: 200px;
    width: 450px;
  }
}

@media (min-width: 641px) {
  .chart {
    height: 300px;
    width: 500px;
  }
}
