@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "vazir";
  src: url(./fonts/Vazir-Medium.ttf);
}

* {
  font-family: "vazir";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ecf4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.en-font {
  font-family: "Poppins", sans-serif !important;
}

.link {
  text-decoration: none;
}
