.accounts-con .content {
  background-color: #d0e1e9;
  width: 90%;
  height: 472px;
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px;
  overflow-y: auto;
}

.add-user-form {
  width: 90%;
  margin-top: 10px;
  gap: 15px;
  display: flex;
}

.add-user-form .frm-f,
.add-user-form .frm-s {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.select {
  width: 100% !important;
}

.content .frm-item {
  display: flex;
  flex-direction: column !important;
}

.ant-form-item-label {
  display: flex !important;
  width: 120px;
}

.ant-input-affix-wrapper {
  width: 100%;
}

.ant-form-item-feedback-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-select {
  border-radius: 10px;
  background-color: #fff !important;
}

.ant-select-selection-search {
  color: #fff !important;
}

