.accounts-con .content {
  background-color: #d0e1e9;
  width: 90%;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px;
  overflow-y: auto;
}

.add-user-form {
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
  display: flex;
}

.add-user-form .frm-item-cr {
  width: 100% !important;
}

.add-user-form .frm-f,
.add-user-form .frm-s {
  display: flex;
  flex-direction: column;
}

.select {
  width: 100% !important;
}

.ant-form-item-label {
  display: flex !important;
  width: 120px;
}

.ant-input-affix-wrapper {
  width: 100%;
}

.ant-form-item-feedback-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-select {
  border-radius: 10px;
  background-color: #fff !important;
}

.ant-select-selection-search {
  color: #fff !important;
}

@media (min-width: 320px) {
  .add-user-form .frm-f,
  .add-user-form .frm-s {
    width: 100%;
  }
}

@media (min-width: 961px) {
  .add-user-form .frm-f,
  .add-user-form .frm-s {
    width: 90%;
    gap: 10px;
  }
  .add-user-form {
    gap: 15px;
  }
}

@media (min-width: 1281px) {
  .add-user-form .frm-f,
  .add-user-form .frm-s {
    width: 45%;
  }
}
